.wrapper {
  display: flex;
}
.wrapper h1 {
  color: black;
  font: 400 56px "Dela Gothic One";
}
.wrapper .signUpinfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper div input {
  width: 519px;
  height: 60px;
  padding: 7px 20px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  line-height: 31px;
  font: 400 20px "Open Sans";
}
.wrapper div input:checked {
  background-color: #b2b3b2;
}

.signUpImg {
  width: 481px;
  height: 320px;
  background: url("./assets/image\ 33.png") no-repeat;
  background-size: contain;
}
.signUpBtn {
  width: 110px;
  padding: 14px 22px;
  border-radius: 100px;
  text-align: center;
  background-color: #2B788B;
  color: #fff;
}
