.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #fff;
  margin: 40px 0 40px 0;
  padding: 20px 0 20px 0;
}
.list {
  margin: auto;
  width: 1220px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.image {
  background-image: url(./assets/Frame\ 8.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 167px;
  height: 32px;
}
.courseCart {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 926px;
  box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
}
.courseImg {
  display: flex;
  width: 337px;
  height: 240px;
  padding: 40px 0px;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  background-image: url(./assets/Frame\ 35270.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.courseOuter {
  width: 510px;
}
.nameOfCourse {
  font: 400 32px "Dela Gothic One";
}
.descriptionOfCourse {
  font: 500 16px "Montserrat";
  color: #757575;
  line-height: 24px;
}
