.container {
  display: flex;
  margin: auto;
  width: max-content;
  gap:10px;
}
.course {
  width: 572px;
  padding: 40px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
}
.flex {
  display: flex;
  justify-content: space-around;
}
.img {
  width: 239px;
  height: 150px;
  background-image: url(./books33.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.info {
  width: 253px;
  height: 176px;
  margin-top: 12px;
}
.info p {
    color: #757575;
}
.btn {
  text-align: center;
}
.lesson{
    width: 401px;
    padding: 40px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
}