.container {
  display: flex;
  margin: auto;
  width: max-content;
  gap: 10px;
}
.course {
  width: 572px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
}
.flex {
  display: flex;
  justify-content: space-around;
}
.img {
  width: 239px;
  height: 150px;
  background-image: url(./books33.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.info {
  width: 253px;
/*   height: 176px; */
  margin-top: 12px;
}
.info p {
  color: #757575;
}
.lesson {
  width: 401px;
  padding: 40px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
  font: 600 16px "Montserrat";
}
h2 {
  font: 400 32px 'Dela Gothic One';
  margin-bottom: 15px;
}
.containerLesson{
  display: flex;
  flex-direction: column;

}

.lessonElement{
  margin: 5px 0 5px 0;
  border-radius: 50px;
  padding: 0 0 0 3%;
}
.lessonElement:hover{
  background-color: #eceaead2;
}
.btnGo{
  background-color: #C3DCE3;
  border-radius: 14px;
  padding: 13px 21px;
  font: 700 16px "Montserrat";
  text-align: center;
  white-space: nowrap;
  width: 143px;
}
.btnGo:hover{
  cursor: pointer;
  background-color: #d0eaf1;
}
.btnGo a{
  color:#2B788B;
}