.login {
  display: flex;
  width: 1220px;
  margin: 6% auto;
  justify-content: space-between;
  align-items: center;
}
.login h1 {
  color: black;
  font: 400 56px "Dela Gothic One";
  margin: 0;
}
.login .loginInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login .loginInfo div{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login div input {
  width: 519px;
  height: 60px;
  padding: 7px 20px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  line-height: 31px;
  font: 400 20px "Open Sans";
}
.loginImg {
  width: 481px;
  height: 320px;
  background: url("./assets/image\ 33.png") no-repeat;
  background-size: contain;
}
.loginUpBtn {
  width: 110px;
  padding: 14px 22px;
  border-radius: 100px;
  text-align: center;
  background-color: #c3dce3;
  color: #2b788b;
  font: 700 16px "Montserrat";
}
.loginUpBtn:hover {
  cursor: pointer;
}
