.wrapper h1 {
  color: #000;
  font: 400 16px "Dela Gothic One";
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: auto;

}
.wrapper .btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.wrapper .btns {
  color: #000;
  font: 700 16px "Montserrat";
}
.wrapper .btns .regBtn {
  background-color: #2b788b;
  border-radius: 14px;
  padding: 13px 21px;
}
.wrapper .btns .regBtn a {
  color: #fff;
  font: 700 16px "Montserrat";
}
